.barra_navegacao{
    height: 8vh;
    width: 100%;
    margin-top: -2vh;
    background-color: #fa8500;
}

.barra_navegacao ul li{
    color: white;
    font-family: Arial;
    float: left;
    list-style: none;
    margin-left: 10vh;
    margin-top: 1vh;
}

.barra_navegacao ul li a{
    position: absolute;
    transition: all 2s;
    color: white;
    text-decoration: none;
}
.barra_navegacao ul {
    position: absolute;
    margin-left: 16vh;
}

.barra_navegacao ul li  a:hover{
    transition: all 2s;
    font-size: 2vh;
    font-style: italic;
    color: black;
}
.localNav{
    background-color: #cfcfcf;
    color: #ff8800;
    font-family: Arial;
    margin-top: 8vh;
    position: absolute;
    width: 99.1%;
    height: 4vh;
}
.localNav h4{
    position: absolute;
    margin-left: 10vh;
    margin-top: 1vh;
}

.logo{
    color: white;
    margin-top: 1vh;
    margin-left: 2vh;
    height: 6vh;
    width: 19vh;
    position: absolute;
    font-size: 4vh;
    font-family: Arial;
}
.banner{
    height: 40vh;
    width: 100%;
    background-color: #86bcfa;
    margin-top: 5vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
.banner article{
    margin-top: 5vh;
    position: absolute;
}
.banner h1{
    font-size: 5vh;


}
.banner button{
    color: white;
    font-size: 3vh;
}
#btBannerAnterior{
    background-color: #ff8800;
    height: 1vh;
    width:1vh;
    padding: 2vh;
    margin-top: 36vh;
    position: absolute;
}
#btBannerProximo{
    background-color: #ff8800;
    height: 1vh;
    width:1vh;
    padding: 2vh;
    margin-top: 36vh;
    margin-left: 186.2vh;
    position: absolute;

}
.CardsElementos{
    background-color: #cccc;
    margin-left: 10vh;
    margin-top: 2vh;
    height: 40vh;
    width: 90%;
    display:flex;
    flex-direction: row;

}
.card{
    height: 30vh;
    width: 20vh;
    background-color: #f0f0f0cc;
    padding: 2vh;
    margin-top: 2vh;
    margin-left: 5vh;
    
}
.card:hover{
    transition: all 2s;
    transform: scale(1.2);
    background-color: lightcyan;
}
.sb{
    box-shadow: 2vh 1vh;
}

.card h1{
    font-size: 5vh;
    color: #86bcfa;
    font-family: Arial, Helvetica, sans-serif;

}
.card h4{
    color:#9e9e9e;
}
.cardProduto{
    background-color: red;
    height: 30vh;
    width: 20vh;
    padding: 2vh;
    margin-top: 2vh;
    margin-left: 5vh;

}
.cardProduto:hover{
    transition: all 2s;
    transform: scale(1.2);
    background-color: lightcyan;
}
.card03{
    background-color: rgba(85, 170, 15, 0.993);
    height: 30vh;
    width: 20vh;
    padding: 2vh;
    margin-top: 2vh;
    margin-left: 5vh;

}
.card03:hover{
    transition: all 2s;
    transform: scale(1.2);
    background-color: lightcyan;

}
